html, body{
    margin: 0;
    scroll-behavior: smooth;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Monteserrat Alternates', sans-serif;
    font-weight: bold;
}
::-webkit-scrollbar {
  width: 1px; /* Ancho del scrollbar */
  background: #1e252500;
}
/* header de prueba-con */
.prueba-conNav{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  background: linear-gradient(#1e2525b2, #1e252599), url(nav.gif);
  background-position: 50% 67%;
  background-size: cover;
}
.prueba-conNav .logo img{
  width: 200px;
  height: 85px;
}
.prueba-conNav .nav{
  text-align: center;
  padding: 20px 20px;
  margin-top: 10px;
  
}
.prueba-conNav .nav a{
  text-decoration: none;
  color: #B2FF4D;
  padding: 9px 9px;
  border-radius: 50px;
  transition: 1s;
}
.prueba-conNav .nav a:hover{
  background-color:#b2ff4d84;
  color: #1e2525;
}

/* container */
.prueba-en-con{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* header */
.cabezal-prueba{
  align-items: center;
  background:linear-gradient(rgba(0, 0, 0, 0.459), rgba(0, 0, 0, 0.377)) ,url(nav.gif);
  background-size: cover;
  background-position: center;
  height: 500px;
}
.cabezal-prueba .enlace{
  text-align: right;  
  padding: 20px 20px;
}
.cabezal-prueba .enlace a{
  padding: 20px 20px;
  color: #fff;
  font-size: 30px;
}
.cabezal-prueba .logo img{
  width: 100px;
  height: 143px;
  padding: 20px 20px;
  margin-top: -80px;
}
.prueba-en-con .cabezal-prueba .titulo {
  margin-top:200px;
  color: #fff;
}
.prueba-en-con .cabezal-prueba .titulo h1{
  margin: 0;
  padding: 40px 50px;
  font-size: 50px;
}

/* section  prueba-entrada*/
.con-entrada-prueba{
  width: 100%;
  height: 100%;
  background: #282C34;
  color: white;
}

.con-entrada-prueba h1{
  font-size: 50px;
  padding: 10px 10px;
}
.con-entrada-prueba .explicacion{
  padding: 20px 20px;
  font-size: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  transition: 3s;
  
}


/* psilocibina entrada*/
.Psilocibina{
width: 100%;
height: 100vh;
background: linear-gradient(#1e25257c, #1e252585), url(que\ son.jpg);
background-size: cover;
background-position: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: white;
}
.Psilocibina h1{
  padding: 10px 10px;
  font-size: 50px;
  margin: 0;
}
.Psilocibina .contexto{
  width: 680px;
  text-align: center;
  font-size: 20px;
}
.Psilocibina .nav-cont{
  text-align: center;
  padding: 20px 20px;
  width: 100%;
  /* background:linear-gradient(#1e252500,#1e2525); */
}
.Psilocibina .nav-cont a{
  text-decoration: none;
  color: white;
  padding: 10px 10px;
  border-radius: 10px;
  transition: 1s;
}
.Psilocibina .nav-cont a:hover{
  background-color: #5f4dff;
  color: #1e2525;
  font-size: 20px;
}
.Psilocibina .sp{
  width: 100%;
  height: 100%;
  display: flex;
  background:linear-gradient(#1e252507, #1e2525);
  /* background-color: #1e2525; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 10px;
}
.Psilocibina .sp span{
  padding: 10px 10px;
}
.Psilocibina .sp a{
  text-decoration: none;
  font-size: 20px;
  color: white;
  padding: 10px 10px;
  width: 20px;
  height: 20px;
  transition: 0.5s;
  transform: translateY(0px);
}
.Psilocibina .sp a:hover{
  transform: translateY(15px);
  scale: 1.2;
}
/*  */
.explicacion{
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  background: linear-gradient(#1e25252a,#1e2525), url(origen.jpg);
  background-size: cover;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.explicacion .origen{
  width: 900px;
  display: grid;
  grid-template-columns: repeat(2,10fr);
  grid-gap: 100px;
  background:linear-gradient(black, rgba(0, 0, 0, 0.281)), url(aztecas.jpg);
  background-size: cover;
  border-radius: 20px;
}
.explicacion .origen span{
  width: 9px;
  height: 9px;
}
.explicacion h1{
  padding: 20px 20px;
  font-size: 50px;
}
.explicacion .origen p{
  padding: 20px 20px;
}
.explicacion .grid{
  display: grid;
  grid-template-columns: repeat(2, 10fr);
  grid-gap:40px;
  padding: 10px 10px;
}
.explicacion .grid h2{
  font-size: 30px;
}
.explicacion .grid p{
  margin-top:59px;
  padding: 10px 10px;
  text-align: center;
}
.explicacion .grid .ter-p{
  margin-top: 90px;
}
.explicacion .grid .contep{
  background: linear-gradient(#1e2525a6,#1e252565), url(/HONGOS/origen/hip.jpg);
  background-size: cover;
  background-position: center;
  padding: 10px 10px;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.637);
  height: 400px;

}
.explicacion .grid .ter{
  background: linear-gradient(#1e25259d,#1e25258f), url(/HONGOS/origen/ter.jpg);
  background-size: cover;
  background-position: center;
  padding: 10px 10px;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.637);
  height: 400px;
}
.explicacion .up{
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.explicacion .up a{
  color: rgba(255, 255, 255, 0.582);
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  width:30px ;
  transition: 0.5s;
  transform: translateY(0px);
}
.explicacion .up a:hover{
  transform: translateY(-15px);
  font-size: 30px;
  color: white;
}
/* consumo */
.consumo{
  width: 100%;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background:linear-gradient(#1e2525c4, #1e2525c4 ), url(/HONGOS/consumo/consumo.jpg);
  background-size: cover;
  background-position: center;
  padding: 20px 20px;
}
.consumo h1{
  font-size: 50px;
  padding: 10px 10px;
}
.consumo .p{
  width: 500px;
  height: 500px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.5s;
}
.consumo .p:hover{
  background-color: white;
  color: #1e2525;
}
.consumo .p p{
  text-align: left;
  padding: 30px 30px;
  margin-top: -10px;
}
/*  */
.list-con{
  width: 100%;
  height: 120vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background:linear-gradient(#1e2525c4, #1e2525c4 ), url(/HONGOS/consumo/lista-con.jpg);
  background-size: cover;
  background-position: center;
  padding: 20px 20px;
}
.list-con .kan{
  width: 870px;
  padding: 10px 10px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.278);
  margin: 9px;
  transition: 1s;
}
/*  */
.list-con .kan.fresco{
  background:linear-gradient(#1e2525c4, #1e2525c4 ), url(/HONGOS/consumo/fresco.jpg);
  background-size: cover;
  background-position: center;
}
.list-con .kan.seco{
  background:linear-gradient(#1e2525c4, #1e2525c4 ), url(/HONGOS/consumo/seco.jpg);
  background-size: cover;
  background-position: center;
}
.list-con .kan.extracto{
  background:linear-gradient(#1e2525c4, #1e2525c4 ), url(/HONGOS/consumo/extracto.jpg);
  background-size: cover;
  background-position: center;
}
.list-con .kan.alimento{
  background:linear-gradient(#1e2525c4, #1e2525c4 ), url(/HONGOS/consumo/alimentos.jpg);
  background-size: cover;
  background-position: center;

}
.list-con .kan.infusion{
  background:linear-gradient(#1e2525c4, #1e2525c4 ), url(/HONGOS/consumo/infusion.jpg);
  background-size: cover;
  background-position: center;
}

/*  */
.list-con .kan:hover{
  transform: scale(1.1);
}
.list-con .kan h2{
  text-align: center;
}
.list-con .kan:hover h2{
  text-align: left;
}
.list-con .kan p{
  display: none;
  transition: 1.5s;
}
.list-con .kan:hover p{
  display: block;
}
.list-con .kan details{
  display: none;
  transition: 1s;
}
.list-con .kan:hover details{
  display: block;
}
.list-con .kan summary{
  padding: 9px 9px;
  color: white;
  border: 1px solid white;
  margin: 9px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.6s;
}
.list-con .kan summary:hover{
  background: green;
  border: 1px solid green;
  color: #1e2525;
  transform: scale(1.1);
}
.list-con .kan div{
  padding: 10px 10px;
  margin: 8px;
  background: green;  
}
.list-con .up{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-con .up a{
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: 0.5s;
}
.list-con .up a:hover{
  font-size: 28px;
}
/* efectos */
.efectos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  padding: 20px 20px;
  margin: 0;
  color: white;
  background: #1e2525;
}
.efectos h1{
  padding: 10px 10px;
  font-size: 50px;
}
.efectos .p{
  width: 400px;
  height: 400px;
  border: 1px solid white;
  padding: 8px 8px;
  transition: 0.5s;
}
.efectos .p:hover{
  background-color: white;
  color: #1e2525;
}
/*  */
.ifect{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  margin: 0;
  color: white;
  background: blue;
 
}
.ifect .efectos-filas{
  display: grid;
  grid-template-columns: repeat(4,10fr);
  grid-gap:40px;
  padding: 10px 10px;
}
.ifect .efectos-filas .tart{
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ifect .efectos-filas .title{
  background-color: green;
  width:300px;
  height:300px;
  z-index: 1;
  transition: 1s;
  transform: translateY(0);
  cursor: pointer;
  padding: 9px 9px;
}
.ifect .efectos-filas .title:hover {
  /* opacity: 0; */
  transform: translateY(-200px);
  height: 100px;
}
.ifect .efectos-filas .title:hover h2{
  /* display: none; */
}
.ifect .efectos-filas .conten{
  background-color: red;
  transform: translateY(0.1px);
  width:300px;
  height:300px;
  cursor: pointer;
  /* display: none; */
  /* z-index: 1; */
  position: absolute;
}
.ifect .efectos-filas .conten:hover{
  display: block;
}

/* hibridos */
.hibridos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  padding: 20px 20px;
  margin: 0;
  color: white;
  background: #1e2525;
}
.hibridos h1{
  padding: 10px 10px;
  font-size: 50px;
}
.hibridos .p{
  width: 400px;
  height: 400px;
  border: 1px solid white;
  padding: 8px 8px;
  transition: 0.5s;
}
.hibridos .p:hover{
  background-color: white;
  color: #1e2525;
}

/*  */
.tbls{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0;

}
.tbls .botones{
  display: flex;
   width: 100%;
}
.tbls .botones button{
  width: 100%;
  height: 36px;
  border: 1px solid rgba(255, 255, 255, 0);
  background: rgba(0, 0, 255, 0.24);
  cursor: pointer;
  font-size: 18px;
  transition: 0.7s;
}
.tbls .botones button:hover{
  background: #3912c5;
  color: white;
  font-size: 16px;
}
/*  */
.escala-up{
  animation: up-s 0.4s;
}
@keyframes up-s {
  0%{
    transform: scale(0.5);
  }
  100%{
    transform: scale(1);
  }
}
/*  */
.tbls .tab{
  display: none;
  width: 100%;
  height: 100vh;
  background-color: blue;
}
.tbls .tab h2{
  text-align: center;
  font-size: 40px;
  padding: 10px 10px;
}
.tbls .tab details{
  width: 100%;
  padding: 10px 10px;
  margin-top: 30px;
  /* background-color: green; */
}
.tbls .tab summary{
  background: rgba(255, 255, 255, 0.144);
  width: 900px;
  padding: 10px 10px;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  margin-left: 170px;
  transition: 0.7s;
}
.tbls .tab summary:hover{
  border: 1px solid transparent;
  font-size: 23px;
  background-color: white;
  color: #1e2525;
}
.tbls .tab div{
  background-color: red;
  border-radius: 20px;
  width: 700px;
  margin-left: 260px;
  padding: 20px 20px;
}
/*  */
.tbls .active{
  display: block;
}
/*  */
/* PRECAUCIONES */
.precauciones{
  width: 100%;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background: #1e2525;
  padding: 20px 20px;
}
.precauciones h1{
  font-size: 43px;
  padding: 10px 10px;

}
.precauciones .p{
  width: 500px;
  height: 500px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.5s;

}
.precauciones .p:hover{
  background-color: white;
  color: #1e2525;

}
.precauciones .p p{
  text-align: left;
  padding: 30px 30px;
  margin-top: -10px;

}
/*  */
.precau-inf{
  width: 100%;
  height: 67vh;
  background-color: yellowgreen;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1e2525;
}
.inf-prec{
  display: flex;
  padding: 10px 10px;
}
.inf-prec h2{
  font-size: 40px;
  padding: 10px 10px;
}
.inf-prec div{
  width: 500px;
  padding: 10px 10px;
}
.inf-prec a{
  text-decoration: none;
  color:#1e2525;
  transition: 0.5s;
}
.inf-prec a:hover{
  font-size: 18px;
  color: yellowgreen;
  background: #1e2525;
  padding: 5px 5px;
}
/*  */
.cont-precau{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
}
.cont-precau .grid-prec{
  display: grid;
  grid-template-columns: repeat(3, 10fr);
  grid-gap: 20px;
  padding: 20px 20px;
  justify-items: center;

}


.cont-precau .ke{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.cont-precau .titulos{
  position: relative;
  width: 300px;
  height: 200px;
  padding: 7px 7px;
  background-color: red;
  cursor: pointer;
  border-radius: 100%;
  transition: 0.6s;
  /* z-index: 1; */
}
.cont-precau .titulos:hover{
  transform: scale(1.2);
}
.cont-precau .conten{
  width: 500px;
  height: 250px;
  padding: 7px 7px;
  background-color: blue;
  cursor: pointer;
  display: none;
  /* transform: translateY(-214px); */
  position: absolute;
  z-index: 1;
  margin: 0;
  transition: 0.5s;
}
.cont-precau .conten:hover{
  scale: 1.1;
}
.cont-precau .conten p{
  padding: 10px 10px;
}
/*  */

/* CONCECUENCIAS */
.concecuencias{
  width: 100%;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background:linear-gradient(#1e2525af, #1e2525af) ,url(/HONGOS/concecuencias/concecuencias.png);
  background-position: center;
  background-size:cover ;
  padding: 20px 20px;

}
.concecuencias h1{
  font-size: 39px;
  padding: 10px 10px;

}
.concecuencias .p{
  width: 500px;
  height: 500px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.5s;

}
.concecuencias .p:hover{
  background-color: white;
  color: #1e2525;

}
.concecuencias .p p{
  text-align: left;
  padding: 30px 30px;
  margin-top: -10px;

}
/*  */
.pstv-cons{
  width: 100%;
  height: 70vh;
  background:linear-gradient(rgba(255, 192, 203, 0.608), rgba(255, 192, 203, 0.608)) ,url(/HONGOS/concecuencias/positivo.jpeg);
  background-position: center;
  background-size: cover;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.pstv-cons .positiv{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 8px;
}
.pstv-cons .positiv h2{
  font-size: 50px;
  padding: 10px 10px;
}
.pstv-cons .positiv p {
  width: 500px;
  padding: 10px 10px;
}
/*  */
.concens-con{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:linear-gradient(rgba(0, 0, 0, 0.584),#1e2525),url(/HONGOS/concecuencias/negativo.jpg);
  background-position: center;
  background-size:cover ;
  padding: 10px 10px;
  color: white;

}
.concens-con .negativo{
  width: 600px;
  padding: 8px 8px;
  text-align: center;
}
.concens-con .negativo h2{
  font-size: 30px;
  padding: 10px 10px;
}
.concens-con .negativo span{
  background-color: white;
  padding: 7px 7px;
  color: #1e2525;
}
.concens-con .filas-negativ{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,10fr);
  grid-gap:30px;
  padding: 10px 10px;
}
.concens-con .filas-negativ .tabs{
  width: 400px;
  height: 400px;
  padding: 9px 9px;
  transition: 0.5s;
}
.concens-con .filas-negativ .tabs:hover{
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(255, 192, 203, 0.608);
}
.concens-con .filas-negativ .tabs h3{
  font-size: 20px;
  text-align: center;
}
.concens-con .filas-negativ .tabs p{
  text-align: center;
}
.concens-con .filas-negativ .tabs .bd-p{
  margin-top: 60px;
}
.concens-con .filas-negativ .tabs .bd-p a{
  text-decoration: none;
  color: white;
  transition: 0.5s;
}
.concens-con .filas-negativ .tabs .bd-p:hover a{
  font-size: 17px;
  background-color: white;
  color: #1e2525;
  padding: 7px 7px;
}
.concens-con .filas-negativ .tabs .mentali-impact{
  margin-top: 57px;  
}
/*  */
.concens-con .filas-negativ .tabs.bad-trip{
  background:linear-gradient(rgba(0, 0, 0, 0.584),#1e2525),url(/HONGOS/concecuencias/badtrip.jpg);
  background-position: center;
  background-size:cover ;

}
.concens-con .filas-negativ .tabs.problem{
  background:linear-gradient(rgba(0, 0, 0, 0.584),#1e2525),url(/HONGOS/concecuencias/salud\ mental.jpg);
  background-position: center;
  background-size:cover ;
  
}
.concens-con .filas-negativ .tabs.psicosis{
  background:linear-gradient(rgba(0, 0, 0, 0.584),#1e2525),url(/HONGOS/concecuencias/psicosis.jpg);
  background-position: center;
  background-size:cover ;
  
}

/*  */

/* footer */
footer {
    background: linear-gradient(90deg, rgba(4,64,0,0.5) 0%, rgba(4,64,0,0.5) 100%), url(footer-inicio1.gif);
    color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
  }
  footer .box{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    padding: 20px 20px;
  }
  
  
  footer img{
    width: 200px;
    height: 200px;
  }
  
  footer .enlaces{
    margin: 0;
    background-color:#1e2525;
    padding: 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer .enlaces a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color:#B2FF4D;
    padding: 20px;
    text-align: center;
  }
  footer .copia-deauto{
    background-color: black;
    width: 100%;
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  